In [27]:
import numpy as np
import helperpgm as h
import pandas as pd 
m = h.helperclass()

In [28]:
df = m.Get_Historical_data(779521,"2018-12-12","2018-12-13","minute")

In [29]:
%%timeit
df['diff-iter'] = 0.0
for row, col in df.iterrows():
    df.at[row, 'diff-iter'] = df.at[row, 'Close'] - df.at[row, 'Open']

108 ms ± 1.09 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [30]:
%%timeit 
df['diff-apply'] = df.apply(lambda row: row['Close'] - row['Open'], axis=1)

31.5 ms ± 98.7 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [31]:
%%timeit 
df['diff-vector'] = df.Close-df.Open

509 µs ± 2.56 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [32]:
%%timeit 
df['diff-numpy-vector'] = df.Close.values-df.Open.values

299 µs ± 3.67 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [33]:
df.head()

,Open,High,Low,Close,Date,Volume,diff-iter,diff-apply,diff-vector,diff-numpy-vector
0,283.50,283.50,282.40,282.85,2018-12-12 09:15:00,474281,-0.65,-0.65,-0.65,-0.65
1,282.95,283.35,282.80,283.05,2018-12-12 09:16:00,277024,0.10,0.10,0.10,0.10
2,283.15,283.80,283.05,283.75,2018-12-12 09:17:00,203055,0.60,0.60,0.60,0.60
3,283.75,284.15,283.35,284.00,2018-12-12 09:18:00,177140,0.25,0.25,0.25,0.25
4,283.95,283.95,283.40,283.50,2018-12-12 09:19:00,97969,-0.45,-0.45,-0.45,-0.45